

<div class="d-flex align-items-center bg-body-tertiary p-3 mb-2">
    <div class="fs-6 fw-bold">
        Dashboard
    </div>
    <form class="ms-auto me-3 w-25" role="search">
        <input type="search" class="form-control" placeholder="Search...">
    </form>
    <button type="button" class="btn btn-dark rounded-3 py-1 me-3">
        + Add
    </button>
    <div class="position-relative d-inline-block">
        <i class="fa-regular fa-bell fs-3"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger-subtle">3</span>
    </div>
</div>
