

.aqua{
    color: aqua;
    font-style:oblique;
    font-size: 40px;
    font-weight: bold;
}

.center-container {
    align-items: center;
    text-align: center;
}
  
img {
    width: 500px;
    height: auto;
}
  