

<div class="d-flex align-items-center">
    <div class="fs-2">
        Payment History
    </div>
    <div class="btn-group ms-auto">
        <button type="button" class="btn btn-light">Today</button>
        <button type="button" class="btn btn-secondary">Last Week</button>
        <button type="button" class="btn btn-secondary">Last Month</button>
    </div>
</div>

<div class="d-flex align-items-center mb-4">
    <div class="fs-5 text-muted">
        Unit: CHF
    </div>
</div>

<div class="d-flex align-items-center justify-content-center">
    <img style="width: 90%" src="chart1.png">
</div>

<div class="d-flex align-items-center bg-light rounded-3 py-3 mt-3">
    <div class="fs-6 text-muted ps-2">
        Total Income
    </div>
    <div class="fs-4 ms-auto me-2 fw-bold">
        500.00 CHF
    </div>
</div>

<div class="d-flex align-items-strech">
    <div class="d-flex flex-fill border border-light border-3 rounded py-3 mt-3">
        <div class="fs-6 ps-2 text-muted">
            <span>Total Payment</span> <br>
            <span class="fs-6 fw-bold text-success">1500.00 CHF</span>
        </div>
        <div class="fs-6 ms-auto me-2 fw-bold text-muted">
            >
        </div>
    </div>
    <div class="d-flex flex-fill border border-light border-3 rounded py-3 mt-3">
        <div class="fs-6 ps-2 text-muted">
            <span>Total Expenses</span> <br>
            <span class="fs-6 fw-bold text-warning">1000.00 CHF</span>
        </div>
        <div class="fs-6 ms-auto me-2 fw-bold text-muted">
            >
        </div>
    </div>
</div>

